:root {
    --primary-color: linear-gradient(370deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    /* display: none; */
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.hamburger {
    display: none;
    color: white;
}

/* Shared Styles */

.margin-auto {
    margin: 0 auto;
}

body{
    overflow-x: hidden;
    width: 100%;
}


/* Navbar Related Styles */


header {
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
}

.logo {
    max-width: 219px;
    height: auto;
}

.navbar ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.btn {
    padding: 12px 16px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    background: var(--primary-color);
    color: #FFFFFF;
}



/* Banner Related Styles */

#banner{
    
    padding-top: 101px;
    padding-bottom: 101px;
    /* background-color: yellow; */
    background-image: url('./assets/hero-bg.png');
}

.banner-container{
    max-width: 550px;
    margin: 0 auto;
}

.banner-container .banner-image {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.mic-parent{
    max-width: 350px;
}
.circle{
    max-width: 350px;
    height: auto;
    transition: transform linear 6s;
}

.circle:hover{
    transform: rotate(2000deg);
}

.mic{
    max-width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.badge{
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    position: absolute;
    left: 252px;
    top: 12px;

}


.banner-content{
    text-align: center;
    margin: 0 auto;
}

.banner-content h1{
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.banner-content p{
    font-size: 16px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.button-flex{
    max-width: 356px;
    gap: 8px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin: 0 auto;
}

.banner-content button{
    padding: 12px 20px;
    width: fit-content;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
}

.banner-content .btn-one{
    border: none;
    background: var(--primary-color);
    color: white;
}

.banner-content .btn-two{
    background: transparent;
    color: white;
    border: 1px solid #00FF88;
    color: #00FF88;
}











/* About Podcast Section */


#about {
    background-color: rgba(26, 11, 46, 1);
    padding-top: 50px;
    padding-bottom: 120px;
}

#about .about-container {
    max-width: 1200px;
    margin: 0 auto;
}

#about .about-container .about-content {
    text-align: center;
}

.about-container .about-content>h2 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-container .about-content>p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 80px;
    line-height: 20px;
}

.about-container>hr {
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.075);
}

.about-container .about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.about-container .about-card-container .card {
    max-width: 240px;
    text-align: center;
}

.about-card-container .card>h2 {
    font-size: 48px;
    font-weight: 800;
    color: #00FF88;
    margin-bottom: 16px;
}

.about-container .about-card-container .card>p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
}


/* Why Choose TechWave Section */

#why-choose {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #230E3D;


}

#why-choose .why-choose-container {
    max-width: 1200px;
    margin: 0 auto;
}

#why-choose .why-choose-container>h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;

}

.choose-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.choose-card {
    /* border: 1px solid white; */
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
    justify-content: center;
}

.choose-card>img {
    max-width: 60px;
    margin-bottom: 16px;
}

.choose-card>h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFFFFF;

}

.choose-card>p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffffb4;

}

.choose-card-container .choose-card:nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
}

.choose-card-container .choose-card:nth-child(2),
.choose-card-container .choose-card:nth-child(3),
.choose-card-container .choose-card:nth-child(4) {
    grid-column: span 3;
    grid-row: span 1;
}

.choose-card-container .choose-card:nth-child(1) {
    grid-column: span 1;

}


/* Feature-Host Section */

#feature {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #1A0B2E;

}

.feature-title {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.video-card>.card-content>h3 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.video-card>.card-content>p {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.card-content {
    padding: 24px;
}


.feature-container {
    max-width: 1200px;
    margin: 0 auto;
}


.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 120px;
    gap: 30px;
}

.video-card {
    /* max-width: 380px; */
    border: none;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 16px;
}

.video-card iframe {
    /* max-width: 380px; */
    border-radius: 16px 16px 0 0;
}


.host-container {
    max-width: 1200px;
    display: flex;
    gap: 24px;
    align-items: center;
    border: none;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}

.host-container.host-content ul {
    list-style-type: none;
    max-width: 184px;
}

.host-container ul li {
    list-style-type: none;
}

.host-container .host-content a {
    text-decoration: none;
}

.host-container .host-content ul {
    display: flex;
    gap: 8px;
    align-items: center;
}

.host-container .host-content ul li {
    width: 40px;
    height: 40px;
}

.host-image img {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

.host-content .host-name {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.host-content .about-host {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #FFFFFF;
}



.time-parent {
    display: flex;
    align-items: center;
    gap: 6px;
}

.time-parent .time {
    color: #00FF88;
}



/* Footer Related Styles */

footer {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("./assets/footer-bg.png");
}

footer .footer-container {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

footer .footer-container .footer-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    max-width: 544px;
    gap: 40px;
    margin: 0 auto;
}

.footer-container .brand-name {
    max-width: 410px;
    margin-bottom: 32px;
}

.footer-container h6 {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 32px;
}

.footer-card .text {
    font-size: 16px;
    color: #FFFFFF;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}