:root {
    --primary-color: linear-gradient(370deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.hamburger {
    display: none;
    color: white;
}

/* Shared Styles */

.margin-auto {
    margin: 0 auto;
}


/* Navbar Related Styles */


header {
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
}

.logo {
    max-width: 219px;
    height: auto;
}

.navbar ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.btn {
    padding: 12px 16px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    background: var(--primary-color);
    color: #FFFFFF;

}

/* Banner Related Styles */

#banner {
    /* background-color: bisque;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover; */

}

#banner .banner-container {
    /* max-width: 550px; */
    /* background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover; */

    /* border: 1px solid red; */
    /* padding: 101px 525px; */
    /* margin: 0 auto; */
    /* display: flex; */
    /* gap: 24px; */
    /* flex-direction: column; */
    /* padding-top: 101px;
    padding-bottom: 101px;
    height: 760px; */


}

#banner .banner-container .banner-image {
    /* max-width: 350px;
    border: 1px solid black; */

}

.mic-parent {
    /* position: relative; */
}

.banner-image .circle {
    /* max-width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%); */
}

.banner-image .mic {
    /* max-width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%); */

}


#banner .banner-container .banner-content {
    /* max-width: 550px; */

}




/* About Podcast Section */


#about {
    background-color: rgba(26, 11, 46, 1);
    padding-top: 50px;
    padding-bottom: 120px;
}

#about .about-container {
    max-width: 1200px;
    margin: 0 auto;
}

#about .about-container .about-content {
    text-align: center;
}

.about-container .about-content>h2 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-container .about-content>p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 80px;
    line-height: 20px;
}

.about-container>hr {
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.075);
}

.about-container .about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.about-container .about-card-container .card {
    max-width: 240px;
    text-align: center;
}

.about-card-container .card>h2 {
    font-size: 48px;
    font-weight: 800;
    color: #00FF88;
    margin-bottom: 16px;
}

.about-container .about-card-container .card>p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
}


/* Why Choose TechWave Section */

#why-choose {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #230E3D;


}

#why-choose .why-choose-container {
    max-width: 1200px;
    /* border: 1px solid white; */
    margin: 0 auto;
}

#why-choose .why-choose-container>h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;

}

.choose-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.choose-card {
    /* border: 1px solid white; */
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
    justify-content: center;
}

.choose-card >img{
    max-width: 60px;
    margin-bottom: 16px;
}
.choose-card >h3{
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 16px;
   color: #FFFFFF;
    
}
.choose-card >p{
   font-size: 16px;
   line-height: 24px;
   color: #ffffffb4;
    
}

.choose-card-container .choose-card:nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
}

.choose-card-container .choose-card:nth-child(2),
.choose-card-container .choose-card:nth-child(3),
.choose-card-container .choose-card:nth-child(4) {
    grid-column: span 3;
    grid-row: span 1;
}

.choose-card-container .choose-card:nth-child(1) {
    grid-column: span 1;

}