:root {
    --primary-color: linear-gradient(370deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.hamburger {
    display: none;
    color: white;
}

/* Shared Styles */

.margin-auto {
    margin: 0 auto;
}


/* Navbar Related Styles */


header {
    background-color: rgba(26, 11, 46, 1);
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
}

.logo{
    max-width: 219px;
    height: auto;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    background: var(--primary-color) ;
    color: #FFFFFF;
    
}


